@import "./styles/variables.css";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Pretendard";
}

body {
   background-color: var(--color-white);
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}