.comment-input-wrapper {
   width: 592px;
   height: 169px;
   margin-top: 30px;

   background-color: var(--color-white);
   border-radius: 16px;

}

.input-wrapper {
   height: 115px;
   border-bottom: 1px solid var(--color-gray);
   padding: 24px;
}

.input-wrapper > textarea {
   border: none;
   outline: none;
   width: 100%;
   height: 100%;
}

.button-wrapper {
   height: 53px;
   padding: 0 24px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

.comment-submit-button {
   width: 138px;
   height: 39px;
   border: none;
   border-radius: 16px;

   background-color: var(--color-purple-light);
   color: var(--color-white);

   font-size: 16px;
   font-weight: 700;
}

.post-detail-comment-list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   margin: 5px 0 50px 0;
   gap: 16px;
}

.comment-wrapper {
   width: 544px;
   height: 65px;
   border-radius: 16px;

   display: flex;
   flex-direction: column;
}

.comment-info-wrapper {
   height: 44px;
   display: flex;
   flex-direction: row;

}

.comment-info-wrapper > .post-options-button {
   align-items: flex-end;
}

.comment-meta-wrapper {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.comment-content-wrapper {
   padding-left: 46px;
}

.comment-content {
   font-size: 15px;
   font-weight: 400;
}