.header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   height: 104px;
   border-bottom: 1px solid var(--color-black);
}

.header-back {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
}

.header-back > .fa-solid {
   line-height: 1;
}

.header > .header-title {
   font-size: 32px;
   font-weight: 400;
   margin: 0 133px;
}

.header-profile {
   width: 32px;
   height: 32px;
   overflow: visible;
   position: relative;
}

.header-profile-img {
   width: 36px;
   height: 36px;
   border-radius: 36px;
}

.wrapper-form {
  width: 355px;
  display: flex;
  flex-direction: column;
}

.wrapper-form > label {
   font-size: 15px;
   font-weight: 600;
}

.wrapper-form > input {
  width: 100%;
  height: 33px;

  border: 1px solid var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-gray-light);

  margin: 10px 0 5px 0;
  padding: 3px 10px;

  color: var(--color-black);
}

.input-error-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-red);
}

.image-input {
  display: none;
}

.form-submit-button {
  width: 355px;
  height: 33px;

  border-radius: 4px;   
  border: none;

  margin-top: 5px;
  padding: 3px 10px;
  text-align: center;
  background-color: var(--color-purple-light);

  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
}

.form-submit-button.is-active {
  background-color: var(--color-purple-bright);
}


/*------------------------------------*/


.dropdown-nav {
  position: absolute;
  top: 50px;
  right: 0px;
}

.drop-nav-wrapper {
  width: 110px;
  height: 100px;
  background-color: var(--color-gray);
}

.drop-nav-wrapper > ul {
   list-style: none;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: stretch;
}

.drop-nav-wrapper > ul> li {
   flex: 1;
   display: flex;                   
   align-items: center;                
   justify-content: center;
   font-size: 13px;
}

.drop-nav-wrapper > ul > li:hover {
   background-color: #E9E9E9;
   cursor: pointer;
}

.options-button {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;

  visibility: hidden;
}

.options-button.is-owner {
  visibility: visible;
}

.options-button button {
  width: 50px;
  height: 27px;
  border-radius: 8px;
  border: 1px solid var(--color-purple-light);

  font-size: 15px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}


.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow:
    0 1px   3px  rgba(0,0,0,.12), 
    0 6px  12px rgba(0,0,0,.10), 
    0 12px 24px rgba(0,0,0,.08);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-text {
  font-size: 16px;
  font-weight: 400;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-buttons > button {
  width: 110px;
  height: 36px;
  border-radius: 16px;
  border: none;
}

.modal-cancle-button {
  background-color: var(--color-black);
  color: var(--color-white);
}

.modal-ok-button {
  background-color: var(--color-purple-light);
  color: var(--color-black);
}